{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-12 mt-5">
                <h2 class="card-title">{{ article.title }}</h2>
            </div>
            <!-- Blog Entries Column -->
            <div class="col-md-8">

                {% if article is defined %}
                    <!-- Blog Post -->

                    <div>
                        Posté le {{ article.date|date('d-M-Y') }} par
                        <a href="{{ path('user_show', {'id': article.author.id}) }}">{{ article.author.firstName ~ ' ' ~ article.author.lastName }}</a>
                    </div>

                    <div class="card mb-4">
                        {% if article.image.image is defined %}
                            <figure>
                                <img class="card-img-top" src="{{ asset('img/'~article.image.image.name) }}" alt="{{ article.image.image.name }}">
                                <figcaption>{{ article.image.alt }}</figcaption>
                            </figure>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text text-justify">{{ article.content|striptags }}</p>
                            <div class="text-right">
                                <a href="{{ path('blogArticle' ,{slug : article.Slug}) }}">
                                    <div class="col-12 mt-5">
                                        <button class="btn btn-outline-secondary float-right" onclick="changeHidden(null, null)">
                                            Répondre
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">

                    </div>
                {% endif %}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Rechercher</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nom de l'article..">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary search" type="button"><img src="{{ asset('imgSite/ic_search.png') }}" alt="" height="30px"></button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4 articles-decouvrir">
                    <h5 class="card-header">D'autres articles à découvrir</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-unstyled mb-0">
                                    {% for article in articlestodiscover %}
                                        <li>
                                            <a href="{{ path('blogArticle', {'slug': article.Slug}) }}">{{ article.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4 border-0 text-center mt-5">
                    <p class="font-weight-bold">un peu de blabla</p>
                    <p class="text-muted mt-2">Un peu de texte et blabla et blabla et bla et encore blabla</p>
                    <a href="#"><img class="align-self-center" src="{{ asset('imgSite/buttons/news.png') }}" alt="NewsLetter" width="300px"></a>
                </div>

            </div>

        </div>

        {% form_theme comment 'bootstrap_4_layout.html.twig' %}
        <!-- /.row -->
        <div class="card my-4">
            <h5 class="card-header" >Laisser un commentaire à <span id="commentateur">l'article</span></h5>
            <div class="card-body">
                {#<div class="input-group">#}
                {{ form_start(comment) }}
                <div class="row">
                    {{ form_errors(comment.content) }}
                   {{ form_widget(comment.content, {'attr':{'class':'form-group col-12'}}) }}
                    <div class="col-12">
                        <input class="btn btn-primary float-right mt-2" type="submit" value="Soumettre">
                    </div>
                </div>
                {{ form_end(comment) }}
            </div>
        </div>

        {% for comment in comments %}
            <div class="
                {% if comment.lvl is not defined %}
                col-12
                {% else %}
                col-{{ 12-comment.lvl }} offset-{{ comment.lvl }}
                {% endif %}
                ">
                <div class="row mb-2">
                    <div class="col-2 col-md-1">
                        <img class="rounded-circle" width="40" height="40" src="{{ asset('img/'~comment.author.image.image.name ?? null) }}">
                    </div>
                    <div class="col-10 col-md-11">
                        <p class="font-weight-bold">Commentaire de {{ comment.author.firstName }} {{ comment.author.lastName }}</p>
                        <p style="word-wrap: break-word;">{{ comment.content|striptags }}</p>
                        <button
                                class="btn btn-outline-secondary float-right mb-3"
                                onclick="changeHidden({{ comment.id }},
                                        '{{ comment.author.firstName ~ ' ' ~ comment.author.lastName }}')
                                        ">
                            Répondre
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script >
        function changeHidden(id, author){
            if (id !== null && author !== null){
                let commentElt = document.getElementById('comment_parent');
                commentElt.setAttribute('value',id);
                let repondreElt = document.getElementById('commentateur');
                repondreElt.innerText = author;
            }else{
                let commentElt = document.getElementById('comment_parent');
                commentElt.removeAttribute('value');
                let repondreElt = document.getElementById('commentateur');
                repondreElt.innerText = "";
            }
        }
    </script>
{% endblock %}