{% extends 'back-office/base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <h1>Evenements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Localisation</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.author.firstName }} {{ event.author.lastName }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>{{ event.location.villeNom ?? 'null'}}</td>
                <td>{{ event.Slug }}</td>
                <td class="action pr-3">
                    <div class="action text-right">
                        <a class="btn btn-info" href="{{ path('evenement', {'slug': event.Slug}) }}">
                            <i class="far fa-eye"></i>
                        </a>
                        <a class="btn btn-primary" href="{{ path('event_edit', {'id': event.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-12 text-right">
        <a class="btn btn-success" href="{{ path('event_new') }}">
            Nouveau <i class="fas fa-plus"></i>
        </a>
    </div>
{% endblock %}