{% extends('base.html.twig') %}

{% block body %}

    {% if formLogin is defined %}
        {% form_theme formLogin 'bootstrap_4_layout.html.twig' %}
        <div class="container" style="margin-top: 250px">
            {{ form_start(formLogin, {'attr':{'class':'form-sign-in'}}) }}
                <img class="mb-4" src="https://www.megaebin.com/public/images/signin.gif" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Pour vous connecter</h1>
                <div class="form-group">
                    {{ form_widget(formLogin.email, {'attr':{'class':'form-control mt-2', 'placeholder':'Votre email'}}) }}
                    {{ form_widget(formLogin.password, {'attr':{'class':'form-control mt-2', 'placeholder':'Votre mot de pass'}}) }}
                    <button class="btn btn-lg btn-success btn-block col-12 col-md-4 offset-md-8 mt-2" type="submit">Connectez-vous !</button>
                </div>
            {{ form_end(formLogin) }}
            <div>
                <div class="mt-4 text-center">
                    <a class="btn" href="{{ path('createAccount') }}">
                        <img class="mr-2 ml-2" src="{{ asset('imgSite/buttons/Creer - 1.png') }}" alt="connexion" width="200px">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if formCreateAccount is defined%}
        {% form_theme formCreateAccount 'bootstrap_4_layout.html.twig' %}
        <div class="container" style="margin-top: 250px">
            {{ form_start(formCreateAccount) }}
                <img class="mb-4" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">{{ 'connection_h1' | trans }}</h1>
                <div class="form-group row">
                    {{ form_errors(formCreateAccount.firstName) }}
                    {{ form_widget(formCreateAccount.firstName, {'attr':{'class':'form-control col-12 col-md-6 mt-2', 'placeholder':'Votre prénom'}}) }}
                    {{ form_errors(formCreateAccount.lastName) }}
                    {{ form_widget(formCreateAccount.lastName, {'attr':{'class':'form-control col-12 col-md-6 mt-2', 'placeholder':'Votre nom'}}) }}
                    {{ form_errors(formCreateAccount.email) }}
                    {{ form_widget(formCreateAccount.email, {'attr':{'class':'form-control mt-2', 'placeholder':'Votre email'}}) }}
                    {{ form_errors(formCreateAccount.password) }}
                    {{ form_widget(formCreateAccount.password, {'attr':{'class':'form-control mt-2', 'placeholder':'Votre password'}}) }}
                    {{ form_rest(formCreateAccount) }}
                </div>
                <button class="btn btn-lg btn-success btn-block col-12  col-md-4 offset-md-8 mt-2" type="submit">{{ 'connection_btn_creat' | trans}}</button>
            {{ form_end(formCreateAccount) }}
        </div>
    {% endif %}

    {% if user is defined %}
        <div class="col-12 text-right mt-2">
            <a href="{{ path('disconnect') }}">
                <img src="{{ asset('imgSite/buttons/déconnexion.png') }}" alt="déconnexion" width="150px">
            </a>
        </div>
        <div class="container">
            <h1 class="text-center my-4">Bienvenue {{ user.firstName | capitalize }}</h1>
            <div class="row">

                <div class="col-md-4">

                    <div class="card mt-5">
                        {% if user.image.image is defined %}
                            <img class="card-img-top" src="{{ asset('img/'~ user.image.image.name) }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ user.lastName | upper}} {{ user.lastName | capitalize }}</h5>
                        </div>
                    </div>


                </div>
                <div class="col-md-8">
                    <h2 class="text-center">Vos observations</h2>
                    <table class="table table-hover text-center">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>{{ 'mapinter_title_2' | trans}}</th>
                            <th>{{ 'mapinter_title_3' | trans}}</th>
                            <th>{{ 'mapinter_title_4' | trans}}</th>
                            <th>{{ 'mapinter_title_5' | trans}}</th>
                        </tr>
                        </thead>
                        <!--Table head--
                        <!--Table body-->
                        <tbody>
                        <!--Table-->
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>

                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>

            </div>

        </div>
    {% endif %}
{% endblock %}