{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
            <label class="custom-file-label" for="image_imageFile">Image</label>
            {{ form_widget(form.imageFile) }}
        </div>
    </div>
{{ form_widget(form) }}
<div class="text-right">
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}