{% import _self as macro %}

{% macro buttonNav(name, path) %}
    <div class="buttons-custom buttons-custom-{{ name }}">
        <span class="text-center">{{ name|upper|raw }}</span>
        <img src="{{ asset('imgSite/NavButtons/'~path|lower~'.svg') }}" alt="" height="100%">
    </div>
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('imgSite/logo NAO lettrage.png') }}" alt="logo NAO">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">
                    {% if app.request.requestUri matches '#^(\/)+$#' %}
                        {{ macro.buttonNav('accueil', 'accueil') }}
                    {% else %}
                        {{ macro.buttonNav('accueil', 'accueil') }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('observation') }}">
                    {% if app.request.requestUri matches '#^(\/observation)+#' %}
                        {{ macro.buttonNav('observation', 'observation') }}
                    {% else %}
                        {{ macro.buttonNav('observation', 'observation') }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event_index') }}">
                    {% if app.request.requestUri matches '#^(\/carte)+#' %}
                        {{ macro.buttonNav('carte <br> interactive', 'carte') }}
                    {% else %}
                        {{ macro.buttonNav('carte <br> interactive', 'carte') }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event_index') }}">
                    {% if app.request.requestUri matches '#^(\/evenement)+#' %}
                        {{ macro.buttonNav('évènements', 'événements') }}
                    {% else %}
                        {{ macro.buttonNav('évènements', 'événements') }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blogIndex') }}">
                    {% if app.request.requestUri matches '#^(\/blog)+#' %}
                        {{ macro.buttonNav('blog', 'blog') }}
                    {% else %}
                        {{ macro.buttonNav('blog', 'blog') }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('connexion') }}">
                    {% if app.request.requestUri matches '#^(\/connexion)+#' %}
                        {{ macro.buttonNav('connexion', 'connexion') }}
                    {% else %}
                        {{ macro.buttonNav('connexion', 'connexion') }}
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>