{% extends 'back-office/base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Position</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ position.id }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ position.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ position.latitude }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ position.address.villeNom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ position.date ? position.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatetedAt</th>
                <td>{{ position.updatetedAt ? position.updatetedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('position_index') }}">back to list</a>

    <a href="{{ path('position_edit', {'id': position.id}) }}">edit</a>

    {{ include('back-office/position/_delete_form.html.twig') }}
{% endblock %}