{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="card-body col-12 form-group encart">
    {{ form_row(form.email, {'label':'Email'}) }}
    {{ form_row(form.subject, {'label':'Sujet'}) }}
    {{ form_row(form.message, {'label':'Message'}) }}
    {{ form_row(form.createdAt, {'label':'Date','attr':{'class':'test'}}) }}
    {{ form_row(form.checked, {'label':'Vu'}) }}
</div>
    <div class="text-right">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}