{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.firstName, {'label':'Prénom'}) }}
    {{ form_row(form.lastName, {'label':'Nom'}) }}
    {{ form_row(form.email, {'label':'Email'}) }}
    {{ form_row(form.summary, {'label':'Sommaire'}) }}
    {{ form_row(form.role, {'label':'Role'}) }}
    {{ form_row(form.image, {'label':'Image'}) }}
    <div class="text-right">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}