{% extends 'back-office/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table table-responsive-lg">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>RegistrationDate</th>
                <th>Summary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.summary }}</td>
                <td class="text-right pr-3">
                    <div class="action">
                        <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">
                            <i class="far fa-eye"></i>
                        </a>
                        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-12 text-right">
        <a class="btn btn-success" href="{{ path('user_new') }}">
            Nouveau <i class="fas fa-plus"></i>
        </a>
    </div>
{% endblock %}