{% extends 'base.html.twig' %}
{% block body %}

<div class="card text-white border-0 mb-5">
    <img class="card-img cover-custom" src="{{ asset('imgSite/pages/page-evenements_nao.jpg') }}" alt="Bouteille à la mers">
    <div class="card-img-overlay d-flex justify-content-center">
        <div class="col-md-10 text-left align-self-end">
            <h1 class="font-weight-bold text-white mb-lg-5">Evénements..</h1>
            <h2>Près de chez vous</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {% for event in pagination %}
                <!-- Blog Post -->
                <div class="card mb-4 mt-4">
                    {% if event.image.image is defined %}
                        <figure>
                            <img class="card-img-top" src="{{ asset('img/'~event.image.image.name) }}" alt="{{ event.image.image.name }}">
                            <figcaption>{{ event.image.alt }}</figcaption>
                        </figure>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ event.title }} - <span>le {{ event.date|date('d-m-Y') }}</span></h2>
                        <p class="card-text text-justify">{{ event.summary }}</p>
                        <div class="text-right">
                            <a href="{{ path('evenement' ,{slug : event.Slug}) }}">
                                <img src="{{ asset('imgSite/buttons/Symbole 3 – 6.png') }}" alt="" height="50px;">
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Posté le {{ event.date|date('d-M-Y') }} par
                        <a href="{{ path('user_show', {'id': event.author.id}) }}">{{ event.author.firstName ~ ' ' ~ event.author.lastName }}</a>
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                {{ knp_pagination_render(pagination) }}
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <aside class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Rechercher</h5>
                <div class="card-body">
                    <form>
                        <div class="input-group my-3">
                            <input type="text"
                                   name="q"
                                   class="form-control"
                                   placeholder="Rechercher un article"
                                   value="{{ app.request.query.get('q') }}"
                                   id="observation_species"
                            >
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn-primary">
                                    <span style="color: white"><i class="fa fa-search"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Newsletter</h5>
                <div class="card-body">
                    <p class="text-center font-weight-bold">Vous voulez vous inscrire à notre newletter ?</p>
                    <form>
                        {{ form_start(newsForm) }}
                        <div class="input-group my-3">
                            {{ form_errors(newsForm.mail) }}
                            {{ form_widget(newsForm.mail, {'attr':{'class':'form-control', 'placeholder':'Votre mail'}}) }}
                            <div class="input-group-append">
                                <button type="submit"
                                        class="btn btn-primary">
                                    <span style="color: white"><i class="far fa-envelope"></i></span>
                                </button>
                            </div>
                        </div>
                        {{ form_end(newsForm) }}
                    </form>
                </div>
            </div>

        </aside>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
