{% extends 'base.html.twig' %}
{% block body %}

<div class="card text-white border-0 mb-5">
    <img class="card-img cover-custom" src="{{ asset('imgSite/animals-avian-beach-760984.png') }}" alt="Bouteille à la mers">
    <div class="card-img-overlay d-flex justify-content-center">
        <div class="col-md-10 text-left align-self-end">
            <h1 class="font-weight-bold text-white mb-lg-5">Evénements..</h1>
            <h2>Près de chez vous</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            {% for event in events %}
                <!-- Blog Post -->
                <div class="card mb-4 mt-4">
                    {% if event.image.image is defined %}
                        <figure>
                            <img class="card-img-top" src="{{ asset('img/'~event.image.image.name) }}" alt="{{ event.image.image.name }}">
                            <figcaption>{{ event.image.alt }}</figcaption>
                        </figure>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ event.title }} - <span>le {{ event.date|date('d-m-Y') }}</span></h2>
                        <p class="card-text text-justify">{{ event.summary }}</p>
                        <div class="text-right">
                            <a href="{{ path('evenement' ,{slug : event.Slug}) }}">
                                <img src="{{ asset('imgSite/buttons/Symbole 3 – 6.png') }}" alt="" height="50px;">
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Posté le {{ event.date|date('d-M-Y') }} par
                        <a href="{{ path('user_show', {'id': event.author.id}) }}">{{ event.author.firstName ~ ' ' ~ event.author.lastName }}</a>
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Précédent</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Suivant &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Rechercher</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nom de l'événement..">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary search" type="button"><img src="{{ asset('imgSite/ic_search.png') }}" alt="" height="30px"></button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4 articles-decouvrir">
                <h5 class="card-header">D'autres événements à découvrir</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-unstyled mb-0">
                                {% for event in events %}
                                    <li>
                                        <a href="{{ path('evenement', {'slug': event.Slug}) }}">{{ event.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4 border-0 text-center mt-5">
                <p class="font-weight-bold">un peu de blabla</p>
                <p class="text-muted mt-2">Un peu de texte et blabla et blabla et bla et encore blabla</p>
                <a href="#"><img class="align-self-center" src="{{ asset('imgSite/buttons/news.png') }}" alt="NewsLetter" width="200px"></a>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
