<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">NAO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('user') }}">{{ path('user') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('users') }}">{{ path('users') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('article') }}">{{ path('article') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('articles') }}">{{ path('articles') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('category') }}">{{ path('category') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories') }}">{{ path('categories') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('comment') }}">{{ path('comment') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('comments') }}">{{ path('comments') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('event') }}">{{ path('event') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('eventShow') }}">{{ path('eventShow') }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('image') }}">{{ path('image') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('imageShow') }}">{{ path('imageShow') }}</a>
            </li>
        </ul>
    </div>
</nav>




