{% extends 'testingDavid/base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UpdatedAt</th>
                <th>Image.name</th>
                <th>Image.alt</th>
                <th>Image.originalName</th>
                <th>Image.mimeType</th>
                <th>Image.size</th>
                <th>Image.dimensions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image.image.name }}</td>
                <td>{{ image.alt }}</td>
                <td>{{ image.image.originalName }}</td>
                <td>{{ image.image.mimeType }}</td>
                <td>{{ image.image.size }}</td>
                <td>{{ image.image.dimensions.0 }}/{{ image.image.dimensions.1 }}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}