{% extends 'testingDavid/base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    {% if image.image is defined %}
        <figure>
            <img src="{{ asset('img/'~image.image.name) }}" alt="{{ image.image.name }}" width="100%">
            <figcaption>{{ image.alt }}</figcaption>
        </figure>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image.name</th>
                <td>{{ image.image.name }}</td>
            </tr>
            <tr>
                <th>Image.alt</th>
                <td>{{ image.alt }}</td>
            </tr>
            <tr>
                <th>Image.originalName</th>
                <td>{{ image.image.originalName }}</td>
            </tr>
            <tr>
                <th>Image.mimeType</th>
                <td>{{ image.image.mimeType }}</td>
            </tr>
            <tr>
                <th>Image.size</th>
                <td>{{ image.image.size }}</td>
            </tr>
            <tr>
                <th>Image.dimensions</th>
                <td>{{ image.image.dimensions.0 }}/{{ image.image.dimensions.1 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('image_index') }}">back to list</a>

    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>

    {{ include('testingDavid/image/_delete_form.html.twig') }}
{% endblock %}